<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>
        Add New Book
    </title>
    <meta charset="UTF-8">
</head>
<body>
<h1> Add a New Book</h1>
<form th:action="@{/books}" th:object="${book}" method="post">
    <label>Title: <input type="text" th:field = "*{title}"/></label><br/>
    <label>Author: <input type="text" th:field = "*{author}"/></label><br/>
    <label>Genre: <input type="text" th:field="*{genre}" /></label><br/>
    <label>Year: <input type="number" th:field="*{year}" /></label><br/>
    <label>In Stock: <input type="checkbox" th:field="*{inStock}" /></label><br/>
    <label>Price: <input type="number" step="0.01" th:field="*{price}" /></label><br/>
    <button type = "submit"> Add New Book </button>
</form>

</body>
</html>